.banner {
  display: flex;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  object-fit: contain;
  .banner-content {
    display: flex;
    flex-basis: 30%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
    margin-top: 5rem;

    .banner-wrapper {
      display: flex;
      flex-direction: column;


      .banner-title {
        color: #fff;
        font-size: 4rem;
        white-space: nowrap;
      }

      .banner-description {
        color: #fff;
        font-size: 30px;
        margin-bottom: 3rem;
        line-height: 2.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4; /* number of lines to show */
        -webkit-box-orient: vertical;
      }

      .banner-buttons-wrapper {
        display: flex;

        .left-button {
          background-color: #fff;
          color: black;
          border: none;
          border-radius: 5px;
          display: flex;
          align-items: center;
          cursor: pointer;

          &:hover {
            background-color: #cbcbcb;
          }

          .right-arrow-icon {
            margin-right: 10px;
          }

          .play-button {
            margin-right: 10px;
            white-space: nowrap;
          }
        }

        .right-button {
          background-color: #545556;
          color: #fff;
          display: flex;
          align-items: center;
          border-radius: 5px;
          border: none;
          cursor: pointer;

          &:hover {
            background-color: #4d4e4e;
          }
          .info-icon {
            margin-right: 10px;
          }

          .info-button {
            white-space: nowrap;
          }
        }

        .banner-buttons {
          margin-right: 1rem;
          padding-left: 2.2rem;
          padding-right: 2.5rem;
          padding-top: 0.6rem;
          padding-bottom: 0.6rem;
          font-size: 1.6rem;
          font-weight: 400;
        }
      }
    }
  }
}
